

<html> <head> <style type="text/css">{  }

A { color: chocolate; 
 text-decoration: none;
 font-size: 11pt;
font-family: arial, helvetica, sans-serif;
 }

A:hover { color: black; }

P { color: dimgray; 
 text-decoration: none;
 font-size: 11pt;
 letter-spacing: 0.015cm;
font-family: arial, helvetica, sans-serif;
line-height: 0.45cm }

TD { color: dimgray; 
 text-decoration: none;
 font-size: 11pt;
 letter-spacing: 0.015cm;
font-family: arial, helvetica, sans-serif;
line-height: 0.45cm }

LI { color: dimgray; 
 text-decoration: none;
 font-size: 11pt;
 letter-spacing: 0.01cm;
font-family: arial, helvetica, sans-serif;
line-height: 0.45cm }

P.dir { color: slategray; 
 text-decoration: none;
 font-size: 11pt;
 letter-spacing: 0.01cm;
font-family: arial, helvetica, sans-serif;
line-height: 0.6cm }

H1 { color: chocolate; 
 text-decoration: none;
 font-size: 30pt;
font-family: arial, helvetica, sans-serif;
}

H2 { color: dimgray; 
 text-decoration: none;
 font-size: 16pt;
font-family: arial, helvetica, sans-serif;
}

H3 { color: chocolate; 
 text-decoration: none;
 font-size: 13pt;
font-family: arial, helvetica, sans-serif;
}


TD.myphoto { width: 150px; }
TD.articles { width: 350px; }

-->

</STYLE>

</HEAD>

</HTML>
